[Unit]
Description=Mount unit for gtk-common-themes, revision 1535
After=snapd.mounts-pre.target
Before=snapd.mounts.target

[Mount]
What=/var/lib/snapd/snaps/gtk-common-themes_1535.snap
Where=/snap/gtk-common-themes/1535
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=snapd.mounts.target
WantedBy=multi-user.target
