[Unit]
Description=Mount unit for gnome-42-2204, revision 176
After=snapd.mounts-pre.target
Before=snapd.mounts.target

[Mount]
What=/var/lib/snapd/snaps/gnome-42-2204_176.snap
Where=/snap/gnome-42-2204/176
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=snapd.mounts.target
WantedBy=multi-user.target
