[Desktop Entry]
Name=Ubuntu Advantage Notification
Name[af]=Ubuntu Advantage Kennisgewing
Name[bn]=উবুন্টু সুবিধা বিজ্ঞপ্তি
Name[ca]=Notificació de l'Ubuntu Advantage
Name[cs]=Upozornění Ubuntu Advantage
Name[cy]=Hysbysiad Ubuntu Advantage
Name[da]=Ubuntu Advantage-påmindelse
Name[de]=Ubuntu-Advantage-Benachrichtigung
Name[el]=Ειδοποιήσεις Ubuntu Advantage
Name[en_AU]=Ubuntu Advantage Notification
Name[en_CA]=Ubuntu Advantage Notification
Name[en_GB]=Ubuntu Advantage Notification
Name[es]=Notificación de Ubuntu Advantage
Name[fi]=Ubuntu Advantage -ilmoitus
Name[fr]=Notification Ubuntu Advantage
Name[gl]=Notificación de Ubuntu Advantabe
Name[hr]=Ubuntu Advantage obavijest
Name[id]=Permberitahuan Ubuntu Advantage
Name[it]=Notifica Ubuntu Advantage
Name[ko]=Ubuntu Advantage 알림
Name[my]=Ubuntu Advantage Notification
Name[nl]=Melding inzake Ubuntu Advantage
Name[oc]=Notificacion Ubuntu Advantage
Name[pl]=Powiadomienie Ubuntu Advantage
Name[pt]=Notificação Ubuntu Advantage
Name[ru]=Уведомление Ubuntu Advantage
Name[sv]=Ubuntu Advantage-avisering
Name[tr]=Ubuntu Advantage Bildirimi
Name[zh_CN]=Ubuntu Advantage 通知
Comment=Notifies user if user has not connected to Ubuntu Advantage.
Comment[af]=Stel gebruiker in kennis as gebruiker nie aan Ubuntu Advantage gekoppel het nie.
Comment[bn]=ব্যবহারকারীকে অবহিত করুন যদি সে উবুন্টু সুবিধার সাথে যুক্ত না থাকে।
Comment[ca]=Notifica a l'usuari si no s'ha connectat a l'Ubuntu Advantage.
Comment[cs]=Upozorní uživatele, pokud uživatel není připojen k Ubuntu Advantage.
Comment[cy]=Yn hysbysu defnyddiwr os nad yw wedi cysylltu ag Ubuntu Advantage.
Comment[da]=Påminder brugeren, hvis brugeren ikke er forbundet til Ubuntu Advantage.
Comment[de]=Anwender(in) informieren, wenn keine Verbindung zu Ubuntu Advantage besteht.
Comment[el]=Ειδοποιεί τον χρήστη αν δεν έχει συνδεθεί στο Ubuntu Advantage.
Comment[en_AU]=Notifies user if user has not connected to Ubuntu Advantage.
Comment[en_CA]=Notifies user if user has not connected to Ubuntu Advantage.
Comment[en_GB]=Notifies user if user has not connected to Ubuntu Advantage.
Comment[es]=Le notifica si no se ha conectado a Ubuntu Advantage.
Comment[fi]=Ilmoittaa käyttäjälle, jos yhteyttä Ubuntu Advantageen ei ole muodostettu.
Comment[fr]=Avertit l'utilisateur s'il ne s'est pas connecté à Ubuntu Advantage.
Comment[gl]=Notifícalle ao usuario se non se conectou a Ubuntu Advantage.
Comment[hr]=Obaviještava korisnika ako korisnik nije povezan s Ubuntu Advantage uslugom.
Comment[id]=Memberitahu pengguna bila pengguna belum tersambung ke Ubuntu Advantage.
Comment[it]=Avvisa l'utente se l'utente non si è connesso a Ubuntu Advantage.
Comment[ko]=사용자가 Ubuntu Advantage에 연결하지 않은 경우 알립니다.
Comment[my]=အသုံးပြုသူအနေဖြင့် Ubuntu Advantage သို့ ချိတ်ဆက်ထားခြင်းမရှိပါက အသုံးပြုသူကို အသိပေးပါ။
Comment[nl]=Als de gebruiker niet verbonden is met Ubuntu Advantage, stelt dit de gebruiker daarvan op de hoogte.
Comment[oc]=Notifica se l’utilizaire es pas connectat a Ubuntu Advantage.
Comment[pl]=Powiadamia użytkownika, jeśli nie połączył się z Ubuntu Advantage.
Comment[pt]=Notifica o utilizador se o utilizador não se ligou ao Ubuntu Advantage.
Comment[ru]=Уведомляет, если пользователь не подключился к Ubuntu Advantage.
Comment[sv]=Aviserar användaren om den inte har anslutit till Ubuntu Advantage.
Comment[tr]=Kullanıcı Ubuntu Advantage'a bağlanmadıysa kullanıcıyı bilgilendirir.
Comment[zh_CN]=如果用户尚未连接到 Ubuntu Advantage，则通知用户。
Exec=/usr/lib/update-notifier/ubuntu-advantage-notification
Type=Application
NoDisplay=true
X-GNOME-Autostart-Delay=60
